# Testing/Compiled Files #
##########################
*.pyc
/./*.pyc

# Garbage Temp Files #
######################
*.py~

# Local JSON File #
###################
file.json

# Cached Files #
################
__pycache__